.wallet-button-container {
    position: absolute;
    top: 20px; /* 调整距离顶部的距离 */
    right: 20px; /* 调整距离右侧的距离 */
    z-index: 1000; /* 确保按钮在其他元素之上 */
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}